{% extends "base.html" %}

{% block content %}
<h4>Basic Information:</h4>
<strong>User ID:</strong> {{ user.id }}<br />
<strong>First Name:</strong> {{ user.firstname }}<br />
<strong>Last Name:</strong> {{ user.lastname }}<br />
<br />

{% if user.email %}
    <strong>Email:</strong> {{ user.email }}<br />
{% endif %}
{% if user.address %}
    <strong>Address:</strong> {{ user.address }}<br />
{% endif %}
<br />

<h4>Reviews Given:</h4>
<table style="padding: 30px; border-collapse: separate;">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Rating</th>
            <th style="padding: 20px;">Review</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews_given %}
        <tr>
            <td>{{ review.product_id }}</td>
            <td>{{ review.stars }}</td>
            <td>{{ review.review_text }}</td>
            <td>{{ review.time_written }}</td>
            <td>
                <a href="{{ url_for('reviews.edit_review', review_id=review.review_id, next=url_for('users.user_public_view', id=current_user.id)) }}" class="btn btn-warning btn-sm">Edit</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
